---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle";
import PageContentGrid from "../../components/PageContentGrid";
import Link from "../../components/Link";

const PAGE = "blog";

const posts = await getCollection("blog");
---

<BaseLayout title={PAGE} bodyClass="bg-teal-50">
  <PageTitle title={PAGE} />
  <PageContentGrid cols={1}>
    <ul class="space-y-4">
      {
        posts.map((post) => {
          const label = post.data.title;
          return (
            <li>
              <Link href={`/blog/${post.id}`} label={label} />
            </li>
          );
        })
      }
    </ul>
  </PageContentGrid>
</BaseLayout>
