---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageTitle from "../components/PageTitle";
import PageContentGrid from "../components/PageContentGrid";
import LinksMap from "../components/LinksMap";

const PAGE = "web projects";

const links = [
  { href: "https://fma-polyglot.vercel.app", label: "polyglot" },
  { href: "https://fma-copily.vercel.app", label: "copily" },
  { href: "https://fma-calqui.vercel.app", label: "calqui" },
  { href: "https://fma-eversunset.vercel.app", label: "eversunset" },
];
---

<BaseLayout title={PAGE} bodyClass="bg-blue-50">
  <PageTitle title={PAGE} />
  <PageContentGrid cols={2}>
    <LinksMap links={links} newTab={true} />
  </PageContentGrid>
  <div class="mt-12">
    <p>principles:</p>
    <ul class="mt-4 list-disc">
      <li class="ml-8">no ads</li>
      <li class="ml-8">no tracking</li>
      <li class="ml-8">intentional</li>
      <li class="ml-8">respectful</li>
      <li class="ml-8">elegant</li>
      <li class="ml-8">simple</li>
      <li class="ml-8">if/when applicable, fun and humorous</li>
    </ul>
  </div>
</BaseLayout>
